<% provide(:title, 'Contact') %>
<h1> Contact </h1>
<p>
Vidscreen was developed by Eric Bitzegaio. For employment inquiries, etc.,
contact Eric <%= mail_to "eric.bitzegaio@gmail.com", "here", :encode => "javascript" %>.
</p>

