<div class="center hero-unit">
  <h1>VIDSCREEN ON</h1>
  <h2>
    <%= render "videos/video" %>
  </h2>

  <%= link_to "Sign up for Vidscreen", signup_path, class: "btn btn-large btn-primary", id: "signup" %>
</div>


