<%= form_for(@vidpost, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :vid_id, placeholder: "Enter a Youtube Video ID or URL." %>
  </div>
  <%= f.submit "Post", class: "btn bth-large btn-primary" %>
<% end %>
