<li id="<%= vidpost.id %>">
<span class="video">
  <%= render 'videos/video', vid_id: vidpost.vid_id, width: "410", height: "324" %>
</span>
<br>
<span class="timestamp">
  Posted <%= time_ago_in_words(vidpost.created_at) %> ago.
</span>
<% if current_user?(vidpost.user) %>
  <%= render 'shared/delete_link', object: vidpost %>
<% end %> 
</li>
